
//- 初始化
meta(http-equiv="Content-Type" content="text/html; charset=utf-8"  charset="uft-8")
//- meta(name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="format-detection" content="telphone=no, email=no")
meta(http-equiv="Content-Language" content="zh-cn")
	//- 移除window-phone 下tap事件的高亮
meta(name="msapplication-tap-highlight" content="no")


//- jquery
script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
//- bootstrap
//- script(src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js")
script(src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js")


//- 样式主文件
//- link(rel="stylesheet", href="./css/style.css")

//- 使用sourcemap
link(rel="stylesheet", href="./css/all.css") 